<div class="d-flex flex-column">
  <div class="fill-height d-flex justify-content-center align-items-center">
    <p class="h1 fst-italic">Bajeti Yangu</p>
  </div>
  <div class="d-flex flex-column gap-1">
    <%= link_to "LOG IN", new_user_session_path, :method => "get", class: 'btn btn-primary flex-md-grow-1'%>
    <%= link_to "SIGN UP", new_user_registration_path, :method => "get", class: 'btn btn-light flex-md-grow-1' %>
  </div>
</div>